@mixin typo-h1-bold {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-h1-semiBold {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-h1-regular {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-h2-bold {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-h2-semiBold {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-h2-regular {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-h3-bold {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-h3-semiBold {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}

@mixin typo-h3-regular {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-h3-light {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-h4-bold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-h4-semiBold {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-h4-regular {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-h4-light {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-h5-bold {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-h5-semiBold {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-h5-regular {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-h5-light {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-b1-semiBold {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-b1-regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-b1-light {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-b2-semiBold {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-b2-regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-b2-line {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-b2-light {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-b3-bold {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin typo-b3-semiBold {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-b3-regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-b3-line {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@mixin typo-b3-light {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin typo-c1-semiBold {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin typo-c1-regular {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typo-c2-semiBold {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


@mixin typo-c2-regular {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}