.atcb-button-wrapper {
    background: #1e293b !important;
    border: none !important;
    border-radius: 50% !important;
    height: 38px !important;
    width: 38px !important;
  }
  
  .atcb-button {
    border: none !important;
    border-radius: 50% !important;
    position: relative !important;
    height: 38px !important;
    width: 38px !important;
    background: url("./calender.svg") !important;
    background-position: 9px 9px !important;
    background-size: 18px !important;
    background-repeat: no-repeat !important;
  }
  /* .atcb-button::after {
    position: absolute !important;
    top: 8px !important;
    left: 8px !important;
    height: 16px !important;
    width: 16px !important;
    background: url("./calender.svg") !important;
  } */
  .atcb-text {
    display: none !important;
  }
  