.i_icon,
.i_icon_a,
.i_icon_12,
.i_icon_16,
.i_icon_18,
.i_icon_20,
.i_icon_24,
.i_icon_28,
.i_icon_32,
.i_icon_34,
.i_icon_36,
.i_icon_40,
.i_icon_48,
.i_icon_64,
.i_icon_84 {
  background-repeat: no-repeat;
  background-size: 100%;
}

.i_icon_a {
  display: inline-block;
}
.i_icon_a_f {
  display: flex;
}
.i_icon_12 {
  width: 12px;
  height: 12px;
}
.i_icon_16 {
  width: 16px;
  height: 16px;
}

.i_icon_18 {
  width: 18px;
  height: 18px;
}

.i_icon_20 {
  width: 20px;
  height: 20px;
}

.i_icon_24 {
  width: 24px;
  height: 24px;
}
.i_icon_28 {
  width: 28px;
  height: 28px;
}

.i_icon_32 {
  width: 32px;
  height: 32px;
}
.i_icon_34 {
  width: 34px;
  height: 34px;
}
.i_icon_36 {
  width: 36px;
  height: 36px;
}
.i_icon_40 {
  width: 40px;
  height: 40px;
}

.i_icon_48 {
  width: 48px;
  height: 48px;
}

.i_icon_64 {
  width: 64px;
  height: 64px;
}

.i_icon_84 {
  width: 84px;
  height: 84px;
}

.i_icon_button {
  cursor: pointer;
}

.i_trophy {
  background-image: url("./img/i_trophy.svg");
}

.i_usdc_coin {
  background-image: url("./img/i_usdc_coin.svg");
}

.i_chevron_right {
  background-image: url("./img/i_chevron_right.svg");
}

.i_chevron_right_black {
  background-image: url("./img/i_chevron_right_black.svg");
}
.i_captain_tag {
  background-image: url("./img/i_captain_tag.svg");
}

.i_vcaptain_tag {
  background-image: url("./img/i_vcaptain_tag.svg");
}
.i_trophy_white {
  background-image: url("./img/i_trophy_white.svg");
}

.i_virat {
  background-image: url("./img/i_virat.svg");
}

.i_chevron_left {
  background-image: url("./img/i_chevron_left.svg");
}
.i_eye {
  background-image: url("./img/i_eye.svg");
}
.i_close {
  background-image: url("./img/i_close.svg");
}

.i_circle_minus {
  background-image: url("./img/i_circle_minus.svg");
}

.i_circle_question_mark {
  background-image: url("./img/i_circle_question_mark.svg");
}
.i_chevron_up {
  background-image: url("./img/i_chevron_up.svg");
}

.i_chevron_right_grey {
  background-image: url("./img/i_chevron_right_grey.svg");
}

.i_game {
  background-image: url("./img/i_game.svg");
}

.i_chaquen_coin {
  background-image: url("./img/i_chaquen_coin.svg");
}

.i_check {
  background-image: url("./img/i_check.svg");
}

.i_airplane {
  background-image: url("./img/i_airplane.svg");
}

.i_gift {
  background-image: url("./img/i_gift.svg");
}

.i_chaquen_coin_big {
  background-image: url("./img/i_chaquen_coin_big.svg");
}

.i_dots {
  background-image: url("./img/i_dots.svg");
}

.i_pencil {
  background-image: url("./img/i_pencil.svg");
}

.i_trash {
  background-image: url("./img/i_trash.svg");
}

.i_wk {
  background-image: url("./img/i_wk.svg");
}
.i_ar {
  background-image: url("./img/i_ar.svg");
}
.i_bat {
  background-image: url("./img/i_bat.svg");
}
.i_bowl {
  background-image: url("./img/i_bowl.svg");
}
.i_wk_active {
  background-image: url("./img/i_wk_active.svg");
}
.i_ar_active {
  background-image: url("./img/i_ar_active.svg");
}
.i_bat_active {
  background-image: url("./img/i_bat_active.svg");
}
.i_bowl_active {
  background-image: url("./img/i_bowl_active.svg");
}

.i_green_check {
  background-image: url("./img/i_green_check.svg");
}

.i_chevron_down {
  background-image: url("./img/i_chevron_down.svg");
}

.i_toast_check {
  background-image: url("./img/i_toast_check.svg");
}

.i_toast_info {
  background-image: url("./img/i_toast_info.svg");
}

.i_toast_alert {
  background-image: url("./img/i_toast_alert.svg");
}

.i_toast_loader {
  background-image: url("./img/i_toast_loader.svg");
}

.i_toast_close {
  background-image: url("./img/i_toast_close.svg");
}

.i_chevron_right_grey {
  background-image: url("./img/i_chevron_right_grey.svg");
}
.i_chevron_right_white {
  background-image: url("./img/i_chevron_right_white.svg");
}

.i_users {
  background-image: url("./img/i_users.svg");
}

.i_circle_minus_2 {
  background-image: url("./img/i_circle_minus_2.svg");
}

.i_filter {
  background-image: url("./img/i_filter.svg");
}

.i_search {
  background-image: url("./img/i_search.svg");
}

.i_cricket_circle {
  background-image: url("./img/i_cricket_circle.svg");
}

.i_cup_circle {
  background-image: url("./img/i_cup_circle.svg");
}

.i_eoa_wallet {
  background-image: url("./img/i_eoa_wallet.svg");
}
.i_smart_wallet {
  background-image: url("./img/i_smart_wallet.svg");
}

.i_alert_circle_green {
  background-image: url("./img/i_alert_circle_green.svg");
}
