@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-main-50: #fef1f1;
    --primary-main-100: #fee1e1;
    --primary-main-200: #fdc8c8;
    --primary-main-300: #fb9999;
    --primary-main-400: #f75a5a;
    --primary-main-500: #9e1f19;
    --primary-main-600: #881a15;
    --primary-main-700: #721512;
    --primary-main-800: #5c110e;
    --primary-main-900: #460d0b;
    --primary-main-950: #300907;
    --neutral-greys-0: #ffffff;
    --neutral-greys-50: #f9f9f9;
    --neutral-greys-100: #f3f3f3;
    --neutral-greys-200: #e7e7e7;
    --neutral-greys-300: #d1d1d1;
    --neutral-greys-400: #a3a3a3;
    --neutral-greys-500: #737373;
    --neutral-greys-600: #525252;
    --neutral-greys-700: #404040;
    --neutral-greys-800: #262626;
    --neutral-greys-900: #171717;
    --neutral-greys-950: #525252;
    --system-success-50: #f0fdf4;
    --system-success-500: #22c55e;
    --system-success-950: #052e16;
    --system-error-50: #fef2f2;
    --system-error-500: #ef4444;
    --system-error-950: #450a0a;
    --system-error-100: #b5b5b5;
    --system-error-200: #64748b;
    --system-error-300: #f8fafc;
    --system-warning-50: #fff7ed;
    --system-warning-500: #f97316;
    --system-warning-550: #431407;
    --system-warning-950: #431407;
    --neutral-greys-tooltip: rgba(241, 245, 249, 1);
    --background: #0D0C11;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  :root:not(.dark) {
    --primary-main-50: #300907;
    --primary-main-100: #460d0b;
    --primary-main-200: #5c110e;
    --primary-main-300: #721512;
    --primary-main-400: #881a15;
    --primary-main-500: #9e1f19;
    --primary-main-600: #f75a5a;
    --primary-main-700: #fb9999;
    --primary-main-800: #fdc8c8;
    --primary-main-900: #fee1e1;
    --primary-main-950: #fef1f1;
    --neutral-greys-0: #3a4a9d;
    --neutral-greys-50: #2c2c2c;
    --neutral-greys-100: #171717;
    --neutral-greys-200: #262626;
    --neutral-greys-300: #404040;
    --neutral-greys-400: #525252;
    --neutral-greys-500: #737373;
    --neutral-greys-600: #a3a3a3;
    --neutral-greys-700: #d1d1d1;
    --neutral-greys-800: #e7e7e7;
    --neutral-greys-900: #232425;
    --neutral-greys-950: #f9f9f9;
    --system-success-50: #052e16;
    --system-success-500: #22c55e;
    --system-success-950: #f0fdf4;
    --system-error-50: #f0fdf4;
    --system-error-500: #ef4444;
    --system-error-950: #fef2f2;
    --system-error-100: #777777;
    --system-error-200: #475569;
    --system-error-300: #f8fafc;
    --system-warning-50: #431407;
    --system-warning-500: #f97316;
    --system-warning-550: #322527;
    --system-warning-950: #fff7ed;
    --neutral-greys-tooltip: rgba(15, 32, 42, 1);
  }
  .dark {
    --background: #0D0C11;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #0D0C11;
  }
  #root {
    background-color: #0D0C11;
  }
}
