// primary

$primary-main-50: theme('colors.primary-main.50');
$primary-main-100: theme('colors.primary-main.100');
$primary-main-200: theme('colors.primary-main.200');
$primary-main-300: theme('colors.primary-main.300');
$primary-main-400: theme('colors.primary-main.400');
$primary-main-500: theme('colors.primary-main.500');
$primary-main-600: theme('colors.primary-main.600');
$primary-main-600: theme('colors.primary-main.600');
$primary-main-700: theme('colors.primary-main.700');
$primary-main-800: theme('colors.primary-main.800');

// neutral
$neutral-greys-950: theme('colors.neutral-greys.950');
$neutral-greys-900: theme('colors.neutral-greys.900');
$neutral-greys-800: theme('colors.neutral-greys.800');
$neutral-greys-700: theme('colors.neutral-greys.700');
$neutral-greys-600: theme('colors.neutral-greys.600');
$neutral-greys-500: theme('colors.neutral-greys.500');
$neutral-greys-400: theme('colors.neutral-greys.400');
$neutral-greys-300: theme('colors.neutral-greys.300');
$neutral-greys-200: theme('colors.neutral-greys.200');
$neutral-greys-100: theme('colors.neutral-greys.100');
$neutral-greys-50: theme('colors.neutral-greys.50');
$neutral-greys-0: theme('colors.neutral-greys.0');
$neutral-greys-tooltip: theme('colors.neutral-greys.tooltip');

// success
$system-success-50: theme('colors.system-success.50');
$system-success-500: theme('colors.system-success.500');
$system-success-950: theme('colors.system-success.950');

// error
$system-error-50: theme('colors.system-error.50');
$system-error-500: theme('colors.system-error.500');
$system-error-950: theme('colors.system-error.950');
$system-error-100: theme('colors.system-error.100');
$system-error-200: theme('colors.system-error.200');
$system-error-300: theme('colors.system-error.300');

// warning
$system-warning-50: theme('colors.system-warning.50');
$system-warning-500: theme('colors.system-warning.500');
$system-warning-550: theme('colors.system-warning.550');
$system-warning-950: theme('colors.system-warning.950');
