@import "src/scss/index";

.ant-tooltip-inner {
  background-color: $neutral-greys-tooltip !important;
}

.ant-tooltip-arrow-content {
  border-top-color: $neutral-greys-tooltip !important;
  background-color: $neutral-greys-tooltip !important;
  font-family: "Sora", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "sans-serif" !important;
}
.ant-tooltip-arrow {
  border-top-color: $neutral-greys-tooltip !important;
}
.ant-tooltip {
  --antd-arrow-background-color: $neutral-greys-tooltip !important;
  font-family: "Sora", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "sans-serif" !important;
}
